#root {
  /* max-width: 1280px; */
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  /* padding: 2rem; */
  padding: 0px;
  text-align: center;
}

body {
  width: 100%;
  background: #212121;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fafafa;
  margin: 0px;
}

.divHome {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 234px);
  margin-top: 40px;
}

.divBook {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .divBook {
    flex-direction: column; /* Cambia a columna en móviles */
  }
}

.divItemBook {
  flex: 1; /* Distribuye las cajas equitativamente */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.divShoppingCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divList {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 70%;
  gap: 20px;
  margin-top: 30px;
}

.divCart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divCartButtons {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 10px;
}

.divItemCart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  gap: 30px;
}

.divLogo {
  display: flex;
  align-items: center;
}

h1 {
  color: #fafafa;
  margin-top: 22px;
  margin-bottom: 22px;
}

.h2Total {
  margin-bottom: 20px;
}

.Cart {
  display: flex;
  width: 1000px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  align-items: center;
  height: 150px;
  background: #f66d6d;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: flex;
  width: 100%;
  gap: 100px;
  /* align-content: center; */
  justify-content: center;
  align-items: center;
  color: #212121;
  font-size: 20px;
}

.customLink {
  color: #fafafa;
}

.customLink:hover {
  color: #fcce4b;
}

.imgBook {
  height: 400px;
}

.imgBookMini {
  height: 150px;
}

.imgPokeball {
  height: 40px;
}

.imgAsh {
  height: 100px;
}

.iconHome {
  height: 40px;
}

.iconShopping {
  height: 40px;
}

.iconProfile {
  height: 40px;
}

.iconDelete {
  height: 25px;
  cursor: pointer;
}

.divButton {
  /* width: 100%; */
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttonAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 60px;
  color: #212121;
  background: #f66d6d;
  gap: 6px;
  padding: 0px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.buttonAdd:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 60px;
  color: #f66d6d;
  background: #fcce4b;
  gap: 6px;
  padding: 0px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.buttonGoHome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 60px;
  color: #212121;
  background: #fafafa;
  gap: 6px;
  padding: 0px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.buttonGoHome:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 60px;
  color: #fafafa;
  background: #7d7a7a;
  gap: 6px;
  padding: 0px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}
